<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Not Found</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_612756_bbg126l4z14w8kt9.css">
    <link href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css" rel="stylesheet">
    <style rel="stylesheet">
    .container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        align-items: center;
        justify-content: center;
        color: #fbaa49;
    }
    .iconfont {
    	font-size: 18rem
    }
    </style>
</head>

<body>
    <div class="container">
        <i class="iconfont icon-rocket"></i>
        <span style="font-size: 1.5rem">Sorry！您查找的页面已经逃往火星。。。!!!∑(ﾟДﾟノ)ノ </span>
    </div>
</body>

</html>